@charset "utf-8";

html {
    font-size: 10px;
}


img {
    width: 100%;
}

header {
    border: 1px solid #000;
    background-image: url("../img/mv.jpg");
    background-position: center;
    background-size: auto;
    height: 700px;
    position: relative;

}
header .menu{
    display: flex;
    justify-content: space-around;
    padding:15px 0px;
}
header ul{
    display: flex;
    justify-content: space-around;

}
header ul li{

    padding: 0px 10px;
}

header .menu a {
    color: #ffffff;
}

header h1 {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 15%;
    left: 35%;
}
#about .about_grop{
    writing-mode: vertical-rl;
    margin: 0 auto;
    padding: 120px 0px;
}




