@charset "utf-8";

html {
    font-size: 10px;
}

body {
    font-family: 'Noto Serif JP', serif;

}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;

}

img {
    width: 100%;
}




/*=========== 
ヘッダー
 ===========*/


header {

    background-image: url("../img/MV.jpg");
    background-position: center;
    background-size: cover;
    height: 700px;
    position: relative;
    letter-spacing: 0.4em;

}

header .menu {
    font-size: 1.5rem;
    margin-left: 67vw;
    margin-right: 0px;
    padding: 30px 0px;
}

header ul {
    font-size: 1.5rem;
    display: flex;
}

header ul li {
    padding: 0px 10px;

}

header .menu a {
    color: #ffffff;
}

header h1 {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 15%;
    left: 40%;
}

/*=========== 
案内
 ===========*/
#about {
    background-color: #FFFEF9;
    height: 550px;
    padding-top: 150px;

}

#about .about_grop {
    writing-mode: vertical-rl;
    margin: 0 auto;


}

#about .about_grop .ttl {
    font-size: 2.8rem;
    letter-spacing: 1.6;
    padding-left: 90px;
    padding-top: 60px;
}

#about .about_grop .lead {
    font-size: 1.6rem;
    line-height: 2;

}

/*=========== 
お食事
 ===========*/
#main {
    background-color: #081D32;
    color: #F9F4DE;
    margin-bottom: 480px;
}

#main h2 {
    font-size: 2.8rem;
    text-align: center;
    font-weight: lighter;
    padding: 120px 0 100px 0;
    margin: 0;
    letter-spacing: 2rem;
    color: #F9F4DE;

}

#main ::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/sky.jpg)no-repeat bottom/cover;
    z-index: -1;
}

#main .main_grop {
    width: 100%;
    margin: 0 auto;
}

#main .item {
    display: flex;
    align-items: center;
}

#main .item {
    display: flex;
    margin-bottom: 225px;
}

#main .item {
    display: flex;
    margin-bottom: 225px;
}

#main .item-left {
    text-align: right;
}

#main .item:nth-child(3) {
    margin-bottom: 0px;
    padding-bottom: 225px;
}

#main .item .tex-grop {
    margin-left: 85px;
    width: calc(100% - 685px);

}

#main .item .tex-left {
    margin-right: 85px;
    margin-left: 0px;
}

#main .item .tex-left .text {
    text-align: left;
}

#main .item .ttl {
    display: block;
    font-size: 2.2rem;
    letter-spacing: 0.5em;
    padding-bottom: 12px;


}
#main .main_grop .item .tex-grop .ttl:nth-child(1){
    border-bottom: solid 1px red;
}
#main .item .ttl:nth-child(3){
    border-bottom: solid 1px blue;
}

#main .item .text {
    display: block;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 12px;

}

#main .item-img {
    width: 600px;
}




/*=========== 
お部屋
 ===========*/
#room h2 {
    font-size: 2.8rem;
    text-align: center;
    font-weight: lighter;
    padding: 120px 0 50px 0;
    letter-spacing: 2em;
    color: #F9F4DE;

}

#room {
    margin: 0 auto;
    color: #ffffff;
    background-color: #081D32;
    padding-bottom: 350px;

}

#room .room-image {
    width: 1100px;
    margin: 0 auto;
}

/*=========== 
フッター
 ===========*/
footer {
    background-color: #081D32;
    color: #F9F4DE;
    margin: 0 auto;

}

footer .footer-groop {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 70px;
}


footer .footer-groop .footer_logo {
    width: 123px;
}

footer .address {
    display: flex;
    padding-right: 450px;
    align-items: center;
}

footer .address-text {
    font-size: 1.6rem;
    line-height: 1.8;
}

footer .footer-groop .btn {
    width: 240px;
    font-size: 1.8rem;
    color: #F9F4DE;
    letter-spacing: 0.05em;
    border: solid 1px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}


footer .copyright {
    color: #405263;
    width: 150px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 12px;

}